body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display-container{
  flex-grow: 1;
  padding: 5vw 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.display-container.display-text-top{
  align-items: flex-start;
}

.display-container.display-text-center{
  align-items: center;
}

.display-container.display-text-bottom{
  align-items: flex-end;
}

.display-text {
  flex-grow: 1;
  font-size: calc(min(11vw, 15vh));
  font-weight: bolder;
  text-align: start;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.input-line {
  margin-top: 1vh;
  padding: 10px;
  width: 90%;
  max-width: 800px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.input-line input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5000px;
  font-size: 16px;
}

.input-line button {
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: 5px;
  padding: 0;
  background-color: white;
  color: #111111;
  border: none;
  border-radius: 10000px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-line button:hover {
  background-color: #e6e6e6;
}

.text-list-container {
  width: 100%;
  display: flex;
  padding: 2vh 0;
  overflow: auto;
}

.text-list {
  display: flex;
  flex-shrink: 1;
  min-height: min-content;
  margin: 0 2vh;
}

.text-card.selected {
  border: 2px solid #007bff;
}

.text-card {
  height: 140px;
  aspect-ratio: 5/3;
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  margin: 1vh;
  padding: 15px;
}

.text-card .card-inner{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.text-container {
  flex-grow: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  flex-grow: 1;
  font-size: 18px;
  text-align: start;
  align-items: center;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.card-padding {
  height: 5%;
}

.card-buttons {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.card-buttons button {
  display: flex;
  height: 80%;
  aspect-ratio: 1/1;
  margin-left: 15px;
  padding: 0;
  background-color: #f5f5f5;
  color: #111111;
  border: none;
  border-radius: 10000px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-buttons button:hover {
  background-color: #e6e6e6;
}